<h2> The Meetup</h2>

<p>West End Ruby is an offshoot of the venerable <a href="http://raleighrb.com/" title="raleigh.rb - Ruby meetup serving the Raleigh/Durham/Chapel Hill area">raleigh.rb</a> meetup group. Our meetups are held at <a href="http://carrborocoworking.com/" title="Carrboro Coworking">Carrboro Creative Coworking</a> on the first Wednesday of the month, at 7pm.</p>

<p>Sometimes we have actual speakers and presentations, but quite often we just drink beer and talk. Our goal is mostly to have fun and interesting conversation, but we also pride ourselves in being a great place for Ruby and/or Rails noobs to ask questions of experienced developers.</p>

<h2>This Site</h2>

<p>... is running an awesomely simple Ruby blogging/CMS tool called <a href="http://cloudhead.io/toto" title="Toto">Toto</a> (<a href="http://github.com/cloudhead/toto" title="Toto on Github">Github</a>) deployed to <a href="http://heroku.com/" title="Heroku">Heroku</a>. What, did you think we'd cop out and use Wordpress to run our Ruby group?</p>