<p>West End Ruby is an offshoot of the venerable <a href="http://raleighrb.com/" title="raleigh.rb - Ruby meetup serving the Raleigh/Durham/Chapel Hill area">raleigh.rb</a> meetup group. Our meetups are held at <a href="http://carrborocoworking.com/" title="Carrboro Coworking">Carrboro Creative Coworking</a> on the first Wednesday of the month, at 7pm.</p>

<p>Sometimes we have actual speakers and presentations, but quite often we just drink beer and talk. Our goal is mostly to have fun and interesting conversation, but we also pride ourselves in being a great place for Ruby and/or Rails noobs to ask questions of experienced developers.</p>
